<!-- <div class="flex gap-2.5">
                        <div class="flex items-center gap-[5px]">
                            <i class="pi pi-star"></i>
                            {{ business?.avgRating }}
                        </div>
                        <div>•</div>
                        <div>
                            {{ business?.reviewCount }}
                            Review(s)
                        </div>
                    </div> -->
<!-- <div class="max-w-[700px]">
                        <p class="line-clamp-2">
                            {{ business.businessDescription }}
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id repellendus
                            tenetur atque ratione quam exercitationem quasi porro laborum non ab
                            cupiditate accusamus consequuntur, eaque doloribus iusto sint sed
                            recusandae? Nam!
                        </p>
                        <div class="flex justify-end mt-[-10px]">
                            <NuxtLink class="text-[80%] text-primary">See Business Profile</NuxtLink>
                        </div>
                    </div> -->

<div class="flex gap-[20px] justify-between items-center mb-[30px]">
  <h1 class="font-bold text-[120%]">Opening Hours:</h1>
  <div class="flex flex-wrap gap-4">
    <div class="flex items-center gap-2">
      <RadioButton
        v-model="businessData.openingHours.same"
        inputId="gen"
        name="time"
        :value="true"
      />
      <label for="gen">General Time For All Days</label>
    </div>
    <div class="flex items-center gap-2">
      <RadioButton
        v-model="businessData.openingHours.same"
        inputId="spec"
        name="time"
        :value="false"
      />
      <label for="spec">Specific Time Per Day</label>
    </div>
  </div>
</div>
<div v-if="businessData.openingHours.same" class="flex flex-col gap-[10px]">
  <div class="flex justify-between items-start gap-[20px]">
    <div class="flex items-center gap-[20px]">
      Mondays - Fridays
      <div class="flex items-center gap-[5px]">
        (
        <Checkbox
          v-model="businessData.openingHours.same_time.closed"
          inputId="same_closed_mon_to_fri"
          name="same_closed_mon_to_fri"
          :binary="true"
        />
        <label for="same_closed_mon_to_fri" class="ml-[5px]">Closed</label>
        )
      </div>
    </div>
    <div v-if="businessData.openingHours.same_time.closed !== true">
      <div class="flex gap-[10px] items-end">
        <div>
          <label class="label">Opens:</label>
          <DatePicker
            id="datepicker-timeonly"
            hourFormat="12"
            v-model="businessData.openingHours.same_time.open"
            timeOnly
            fluid
          />
        </div>
        <div>
          <label class="label">Closes:</label>
          <DatePicker
            id="datepicker-timeonly"
            hourFormat="12"
            v-model="businessData.openingHours.same_time.close"
            timeOnly
            fluid
          />
        </div>
      </div>
    </div>
    <div v-else>Closed on Mondays to Fridays!</div>
  </div>
  <!-- weekend -->
  <div
    class="flex justify-between items-start gap-[20px]"
    v-for="item in weekends"
    :key="genRand()"
  >
    <div class="flex items-center gap-[20px]">
      <div class="capitalize">{{ item }}</div>
      <div class="flex items-center gap-[5px]">
        (
        <Checkbox
          v-model="businessData.openingHours[item].closed"
          :name="item"
          :binary="true"
        />
        <label :for="item" class="ml-[5px]">Closed</label>
        )
      </div>
    </div>
    <div v-if="businessData.openingHours[item].closed !== true">
      <div class="flex gap-[10px] items-end">
        <div>
          <label class="label">Opens:</label>
          <DatePicker
            hourFormat="12"
            v-model="businessData.openingHours[item].open"
            timeOnly
            fluid
          />
        </div>
        <div>
          <label class="label">Closes:</label>
          <DatePicker
            hourFormat="12"
            v-model="businessData.openingHours[item].close"
            timeOnly
            fluid
          />
        </div>
      </div>
    </div>
    <div v-else class="capitalize">Closed on {{ item }}!</div>
  </div>
</div>
<div v-else class="flex flex-col gap-[10px]">
  <div
    class="flex justify-between items-start gap-[20px]"
    v-for="item in allDays"
    :key="genRand()"
  >
    <div class="flex items-center gap-[20px]">
      <div class="capitalize">{{ item }}</div>
      <div class="flex items-center gap-[5px]">
        (
        <Checkbox
          v-model="businessData.openingHours[item].closed"
          :name="item"
          :binary="true"
          :inputId="item"
        />
        <label :for="item" class="ml-[5px]">Closed</label>
        )
      </div>
    </div>
    <div v-if="businessData.openingHours[item].closed !== true">
      <div class="flex gap-[10px] items-end">
        <div>
          <label class="label">Opens:</label>
          <DatePicker
            hourFormat="12"
            v-model="businessData.openingHours[item].open"
            timeOnly
            fluid
          />
        </div>
        <div>
          <label class="label">Closes:</label>
          <DatePicker
            hourFormat="12"
            v-model="businessData.openingHours[item].close"
            timeOnly
            fluid
          />
        </div>
      </div>
    </div>
    <div v-else class="capitalize">Closed on {{ item }}!</div>
  </div>
</div>
